{
  "presets": [["react-app", {
   "modules": false
  }]],
  "plugins": [
    [
     "import",
      {
       "libraryName": "antd",
       "libraryDirectory": "es",
       "style": true
     }
    ],
    [
     "@babel/plugin-proposal-decorators",
     {
         "legacy":true
     }
   ],
   [
     "@babel/plugin-proposal-class-properties",
     {
         "loose":true
     }
   ],
    "lodash"
  ]
 }